#container h1
{
    color:deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#Post
{
    color:forestgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}