#container h1
{
    color:deeppink;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
#Post
{
    color: steelblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}